.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 600;
}

.unrevealed {
  color: #111;
  background: rgb(213, 209, 209);
  box-shadow: inset -3px -3px 0 rgba(0, 0, 0, 0.1),
    inset 3px 3px 0 rgba(255, 255, 255, 0.7);
}

.revealed {
  background: rgb(227, 227, 227);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.04);
}

.revealedPiece {
  background: #fde68a;
  color: #7f1d1d;
  font-weight: 700;
}

.piece {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

/* Minesweeper-like number colors */
.val1 {
  color: #0b5cff;
}
.val2 {
  color: #0b9e2e;
}
.val3 {
  color: #e11d48;
}
.val4 {
  color: #1e3a8a;
}
.val5 {
  color: #7c2d12;
}
.val6 {
  color: #0b7b7b;
}
.val7 {
  color: #111827;
}
.val8 {
  color: #6b7280;
}
