body.active-popup {
    overflow-y: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
}

.popup {
    transform: none !important;
}

.overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background: rgba(49,49,49,0.8) !important;
    z-index: 9998 !important;
}

.popup-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 10000 !important;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.btn-popup {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}