.leaderboardContainer {
    height: fit-content;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 2rem 0 2rem 0;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
}

.leaderboardTitle {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
}

.leaderboardTable {
    border-collapse: collapse;
}

.leaderboardHeaders {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0rem 2rem 0rem 2rem;
    text-align: center;
}

.leaderboardHeadersRow {
    border-bottom: 2px solid black;
}

.leaderboardRecords {
    font-size: 1.1rem;
    font-weight: 350;
    padding: 0.4rem 2rem 0.4rem 2rem;
    text-align: center;
}

/* rank odd/even, alternating background color for rows*/
.leaderboardRecordsRowOdd {
    background-color: rgb(249, 249, 249);
}

.leaderboardRecordsRowEven {
    background-color: rgb(240, 240, 240);
}